<% if flash[:notice] %>
  <div>
    <p><%= flash[:notice] %></p>
  </div>
<% end %>

<%= link_to 'Voltar', promotions_path %>

<h1><%= @promotion.name %></h1>
<dl>
  <dt><%= Promotion.human_attribute_name(:description) %></dt>
  <dd><%= @promotion.description %></dd>
  <dt>Porcentagem de desconto</dt>
  <dd><%= number_to_percentage @promotion.discount_rate, precision: 2, separator: ',' %></dd>
  <dt>Código da Promoção</dt>
  <dd><%= @promotion.code %></dd>
  <dt>Data de Expiração</dt>
  <dd><%= I18n.localize(@promotion.expiration_date) %></dd>
  <dt>Quantidade de Cupons</dt>
  <dd><%= @promotion.coupon_quantity %></dd>
</dl>

<%= link_to 'Gerar cupons', generate_coupons_promotion_path(@promotion), method: :post %>

<% @promotion.coupons.each do |coupon| %>
  <%= coupon.code %>
<% end %>